@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --emerald-20: #B2DFD0;
  --emerald-30: #80cab1;
  --emerald-40: #4fb494;
  --emerald-50: #29a480;
  --emerald-60: #018762;
  --emerald-70: #017f5c;
  --emerald-80: #007756;
  --emerald-90: #014c37;
  --emerald-100: #001912; 

  --accent-100: #dff2ed;

  --font-nunito: "Nunito", sans-serif;
}


